name: Frontend - Docker Build & Push

on:
  push:
    paths:
      - 'frontend/**'
    branches: [ "main" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/homeservices-frontend:latest ./frontend

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/homeservices-frontend:latest
